@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans SC', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
